body {
    background-color: #f0f0f0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #01579B;
    text-align: center;
}

.add-task__container,
.task-list__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.task-list__container {
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.task-list__container li {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
    width: 75%;
}

.task-list__container li > * {
    flex: 1 0 45%;
}

.task-actions {
    display: flex;
    justify-content: end;
    gap: 10px;
    flex-wrap: wrap;
    width: 70%;
}



form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
    width: 75%;
}

input {
    border: 2px solid #81D4FA;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    width: 80%;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: auto;
    justify-content: center;
    min-width: 100px;
    padding: 15px;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #dc3545;
}
